// Colors

$color-primary: #0097e6;
$color-primary-hover: #00a8ff;
$color-secondary: #6246ea;
$light-grey: #eff0f3;
$light-dark-grey: #e4e5e9;
$grey: #c0c0c0;
$dark-grey: #9a9494;
$white: #ffffff;
$black: #2b2c34;
$bg-light-color: #eff0f3;
$bg-dark-color: #2b2c34;
$text-light-color: #2b2c34;
$text-dark-color: #eff0f3;


// Fonts

$font-primary: "Nunito", sans-serif;
$font-secondary: "Roboto Mono", monospace;


// Font Sizes

$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2rem;
$font-size-4xl: 2.5rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;
$font-size-logo: 2rem;