---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Categories from "../components/Categories.astro";
import Slider from "../components/Slider.astro";
---

<MainLayout>
  <Hero />
  <div id="mainContent" class="main-content">
    <Categories />
    <Slider />
  </div>
</MainLayout>

<style lang="scss">
  .main-content {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
