---
import { Image } from "astro:assets";
---

<div class="hero-container">
  <div class="content-group">
    <div class="hero-left">
      <h2 class="hero-title">Merhaba, Ben Serdest</h2>
      <h2 class="hero-title">Jr. Fronted Developer</h2>
      <p class="hero-desc">
        Burada yaptığım işleri ve üzerinde çalıştığım HTML, CSS, Javascript ve
        framework için yazılar paylaşıyorum. Bu yolculuğumda benle beraber
        olmanıza çok sevinirim
      </p>
      <ul class="hero-logo-group">
        <li class="hero-logo-item">
          <Image
            src="/images/html-v2.png"
            alt="html"
            width={65}
            height={65}
            loading="eager"
          />
        </li>
        <li class="hero-logo-item">
          <Image
            src="/images/css-v2.png"
            alt="html"
            width={65}
            height={65}
            loading="eager"
          />
        </li>
        <li class="hero-logo-item">
          <Image
            src="/images/js-v2.png"
            alt="html"
            width={65}
            height={65}
            loading="eager"
          />
        </li>
        <li class="hero-logo-item">
          <Image
            src="/images/ts.png"
            alt="html"
            width={65}
            height={65}
            loading="eager"
          />
        </li>
        <li class="hero-logo-item">
          <Image
            src="/images/react-v2.png"
            alt="html"
            width={65}
            height={65}
            loading="eager"
          />
        </li>
        <li class="hero-logo-item">
          <Image
            src="/images/nextjs-v2.png"
            alt="html"
            width={45}
            height={45}
            loading="eager"
          />
        </li>
        <li class="hero-logo-item">
          <Image
            src="/images/astrojs-v2.png"
            alt="html"
            width={45}
            height={45}
            loading="eager"
          />
        </li>
      </ul>
    </div>
    <div class="hero-right">
      <Image
        src="/images/hero-img.png"
        alt="hero"
        width={434}
        height={363}
        loading="eager"
      />
    </div>
  </div>
  <Image
    src="/icons/bottom-arrow.svg"
    alt="bottom arrow"
    width={48}
    height={48}
    class="bottom-arrow"
    loading="eager"
  />
</div>

<style lang="scss">
  @use "../styles/shares/index" as i;
  .hero-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 86px);
    width: 100%;
    background-image: url("/images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .content-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 8%;

      @media screen and (max-width: 864px) {
        flex-direction: column;
        height: calc(100vh - 86px);
      }

      .hero-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: calc(100vh - 86px);

        @media screen and (max-width: 864px) {
          height: 50%;
          align-items: center;
          text-align: center;
        }

        .hero-title {
          font-size: i.$font-size-4xl;
          font-weight: 600;
          color: inherit;
          margin: 0;

          @media screen and (max-width: 864px) {
            font-size: clamp(i.$font-size-2xl, 5vw, i.$font-size-5xl);
          }
        }

        .hero-desc {
          font-size: i.$font-size-md;
          line-height: 1.7rem;
          color: i.$dark-grey;
          margin: 1rem 0;

          @media screen and (max-width: 864px) {
            font-size: clamp(i.$font-size-xxs, 5vw, i.$font-size-md);
          }
        }

        .hero-logo-group {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          gap: 1rem;

          @media screen and (max-width: 864px) {
            justify-content: center;
            flex-wrap: wrap;
          }

          .hero-logo-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .hero-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 86px);

        @media screen and (max-width: 864px) {
          & > img {
            transform: translateY(0);
          }

          @media screen and (max-width: 480px) {
            & > img {
              scale: 0.8;
            }
          }
        }
      }
    }

    .bottom-arrow {
      position: absolute;
      bottom: 5%;
      cursor: pointer;
      animation: 0.3s ease-in-out infinite alternate heroBottomBounce;
    }
  }
</style>

<script>
  const arrow = document.querySelector(".bottom-arrow");

  if (arrow) {
    arrow.addEventListener("click", () => {
      const target = document.querySelector("#category");
      if (target) {
        target.scrollIntoView({ behavior: "smooth", block: "start" });
      }
    });
  }
</script>
